<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <style>
    .topnav {
      overflow: hidden;
      background-color: #f3f3f3;
    }

    .topnav a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      float: left;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
    }

    .topnav a.active {
      color: white;
      background-color: #E57200;
    }

    tr:nth-child(even) {background-color: #ddd;}
    </style>

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">

        <nav class="topnav" role="navigation" >
          <a {% if page.url == "/" %}class="active"{% endif %} href="{{ site.baseurl }}/">Home</a>
          <a {% if page.url == "/schedule.html" %}class="active"{% endif %} href="{{ site.baseurl }}/schedule.html">Schedule</a>
          <a {% if page.url == "/syllabus.html" %}class="active"{% endif %} href="{{ site.baseurl }}/syllabus.html">Syllabus</a>
          <a {% if page.url == "/policies.html" %}class="active"{% endif %} href="{{ site.baseurl }}/policies.html">Policies</a>
        </nav>

        <header class="inner">

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

  </body>
</html>
